<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
    <head>
        <meta charset="utf-8">
        <title>
        <% if @title %>
            <%=@title%> 
        <% else %>
            <%= _('Make and browse Freedom of Information (FOI) requests') %>
        <% end %>
        </title>

        <link rel="shortcut icon" href="/favicon.ico">

        <%= render :partial => 'general/stylesheet_includes' %>
        <% if is_admin? %>
          <%= stylesheet_link_tag "admin", :title => "Main", :rel => "stylesheet" %>
        <% end %>

 <%= javascript_include_tag "application" %>
        <% if @profile_photo_javascript %>
            <%= javascript_include_tag "profile-photos" %>
            <%= stylesheet_link_tag "jquery.Jcrop.css" %>
        <% end %>

        <% if @feed_autodetect %>
            <% for feed in @feed_autodetect %>
                <link rel="alternate" type="application/atom+xml" title="<%=h feed[:title] %>" href="<%=h feed[:url]%>">
                <% if feed[:has_json] %>
                    <link rel="alternate" type="application/json" title="JSON version of <%=h feed[:title] %>" href="<%=h feed[:url]%>.json">
                <% end %>
            <% end %>
        <% end %>
        <% if @has_json %>
            <link rel="alternate" type="application/json" title="JSON version of this page" href="<%=h url_for(request.query_parameters.merge(:format => 'json')) %>">
        <% end %>

        <% if @no_crawl %>
            <meta name="robots" content="noindex, nofollow">
        <% end %>

        <%= render :partial => 'general/before_head_end' %>
    </head>
    <body class="<%= 'front' if params[:action] == 'frontpage' %>">
    	<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.4&appId=622186147839366";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));


window.twttr = (function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0],
    t = window.twttr || {};
  if (d.getElementById(id)) return t;
  js = d.createElement(s);
  js.id = id;
  js.src = "https://platform.twitter.com/widgets.js";
  fjs.parentNode.insertBefore(js, fjs);
 
  t._e = [];
  t.ready = function(f) {
    t._e.push(f);
  };
 
  return t;
}(document, "script", "twitter-wjs"));

</script>
    <% if AlaveteliConfiguration::force_registration_on_new_request && !@user %>
    <%= javascript_include_tag 'fancybox.js' %>
    <script type="text/javascript">
        $(document).ready(function() {
            $("#make-request-link").fancybox({
                'modal': false,
                'width': 920,
                'height': 400,
                'type': 'iframe',
                'href': '/<%= I18n.locale %>/profile/sign_in?modal=1',
                'onClosed': function() {
                    // modal_signin_successful variable set by modal dialog box
                    if (typeof modal_signin_successful != 'undefined' ) {
                        window.location.href = '<%= select_authority_url %>';
                    }
                }
            });
        });
    </script>
    <% end %>

<% if is_admin? %>
  <%= render :partial => 'admin_general/admin_navbar' %>
<% end %>

<% if !@popup_banner.blank? %>
<div id="everypage" class="jshide">
  <p class="popup-close"><a href="#top" onclick="$.cookie('seen_foi2', 1, { expires: 7, path: '/' }); $('#everypage').hide('slow'); return false;"><%= _('Close') %></a></p>
  <%= @popup_banner %>
  <p class="popup-close"><a href="#top" onclick="$.cookie('seen_foi2', 1, { expires: 7, path: '/' }); $('#everypage').hide('slow'); return false;"><%= _('Close') %></a></p>
</div>
<% end %>
	
<div id="banner_inner">
  <div class="top-section">
	<section class="fillin wrapper"> </section>
    <%= render :partial => 'general/up' %>
   
  </div>
	<div class="header wrapper">
		<section class="socials">
			<%= link_to image_tag('fb.png'), 'https://www.facebook.com/pages/%D0%94%D0%BE%D1%81%D1%82%D1%83%D0%BF-%D0%B4%D0%BE-%D0%9F%D1%80%D0%B0%D0%B2%D0%B4%D0%B8/699190593466761', :class=>'fbtw' %>
            <%= link_to image_tag('tw.png'), "https://twitter.com/DostupPravda", :class=>'fbtw' %>
		</section>
		<section class="title">
			<%= link_to image_tag("logo.png"), frontpage_url, class: "logo-img" %>
			<%= link_to image_tag("logo_title.png"), frontpage_url %>
		</section>
		<section class="search">
			<%= link_to image_tag("search.png"), request_list_all_url, class: "search-icon"  %>
	   </section>
	   <section class="login">
	   	<% if @user %>
	   	<p>
	   	  <%= _('Вітаємо, <span style="font-weight:700; color: black">{{username}}</span>!', :username => h(@user.name))%>
          <%= link_to _("Sign out"), signout_path(:r => request.fullpath), :class=> "username "%>
          
	   	</p>
        <p>
            <% if @user %>
                <%=link_to _("My requests"), show_user_requests_path(:url_name => @user.url_name) , :class=>"mys" %>
                <%=link_to _("Профіль"), show_user_profile_path(:url_name => @user.url_name), :class=>"mys" %>
                <%=link_to _("Стіна"), show_user_wall_path(:url_name => @user.url_name), :class=>"mys" %>
            <% end %>
</p>
          
      <% else %>
          <div style="height:17px"></div>
          <%= link_to "#{image_tag('login-head.png')} <span>Авторизуватись</span>".html_safe, signin_path(:r => request.fullpath), class: "login-button" %>
      <% end %>
	   	
	   	
			
		</section>
	</div>
  <div class="bottom-section">
    <nav class="main-nav">

    <ul class="rozdily site-parts">
        <li><%= link_to _("ЯК ПРАЦЮЄ САЙТ"), help_about_path %></li>
        <li><%= link_to _("ПУБЛІКАЦІЇ"), publications_path %></li>
        <li><%= link_to _("ЗВОРОТНІЙ ЗВ’ЯЗОК"), help_contact_url %></li>
    </ul>
    </nav>
  </div>
</div>

<div id="wrapper">
            <% if flash[:notice] %>
                <div id="notice"><%= flash[:notice] %></div>
            <% end %>
            <% if flash[:error] %>
                <div id="error"><%= flash[:error] %></div>
            <% end %>

            <div id="<%= controller.controller_name + "_" + controller.action_name %>" class="controller_<%= controller.controller_name %>">
            <%= yield :layout %>
            </div>
            <div style="clear:both"></div>
          </div>
  <div class="footer">
    <div class="infoot">
     <%= render :partial => 'general/before_body_end' %>
    </div>


    

</div>
<div id="other-country-notice"></div> 
<div id="link_box"><span class="close-button">X</span>
<%= _("Paste this link into emails, tweets, and anywhere else:") %>
<br />
<input type="text">
</div>
    <%
      unless AlaveteliConfiguration::ga_code.empty? || (@user && @user.super?) %>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-37877049-2', 'auto');
  ga('send', 'pageview');

</script>

      <% end %>


  </div>
    </body>
</html>
