<div id="upravda">

    <ul id="rozdily">
        <li><%= link_to _("ПОЛІТИКА |"), "google.com.ua" %></li>
        <li><%= link_to _("ЕКОНОМІКА |"), "google.com.ua" %></li>
        <li><%= link_to _("ФОРУМ |"), "google.com.ua" %></li>
        <li><%= link_to _("БЛОГИ |"), "google.com.ua" %></li>
        <li><%= link_to _("ІСТОРИЧНА ПРАВДА |"), "google.com.ua" %></li>
         <li><%= link_to _("ЖИТТЯ |"), "google.com.ua" %></li>  
         <li><%= link_to _("СПОРТ |"), "google.com.ua" %></li>
         <li><%= link_to _("КИЇВ |"), "google.com.ua" %></li>
         <li><%= link_to _("ТАБЛОID |"), "google.com.ua" %></li>
         <li><%= link_to _("НАРОДНІ БЛОГИ"), "google.com.ua" %></li>
    </ul>
<div style="padding-top:15px;float:right">
<%= link_to image_tag('/alavetelitheme/images/fb.png'), frontpage_url, :class=>'fbtw' %>
<%= link_to image_tag('/alavetelitheme/images/tw.png'), frontpage_url, :class=>'fbtw' %>
</div>
</div>
