<div id="upravda">

    <ul id="rozdily">
        <li><%= link_to _("ПОЛІТИКА"), "http://www.pravda.com.ua/" %>&nbsp;|</li>
        <li><%= link_to _("ЕКОНОМІКА"), "http://www.epravda.com.ua/" %>&nbsp;|</li>
        <li><%= link_to _("ФОРУМ"), "http://forum.pravda.com.ua/" %>&nbsp;|</li>
        <li><%= link_to _("БЛОГИ"), "http://blogs.pravda.com.ua/" %>&nbsp;|</li>
        <li><%= link_to _("ІСТОРИЧНА ПРАВДА"), "http://www.istpravda.com.ua/" %>&nbsp;|</li>
         <li><%= link_to _("ЖИТТЯ"), "http://life.pravda.com.ua/" %>&nbsp;|</li>  
         <li><%= link_to _("СПОРТ"), "http://www.champion.com.ua/" %>&nbsp;|</li>
         <li><%= link_to _("КИЇВ"), "http://kiev.pravda.com.ua/" %>&nbsp;|</li>
         <li><%= link_to _("ТАБЛОID"), "http://tabloid.pravda.com.ua/" %>&nbsp;|</li>
         <li><%= link_to _("НАРОДНІ БЛОГИ"), "http://narodna.pravda.com.ua/" %></li>
    </ul>
<div style="padding-top:15px;float:right">
<%= link_to image_tag('/alavetelitheme/images/fb.png'), 'https://www.facebook.com/pages/%D0%94%D0%BE%D1%81%D1%82%D1%83%D0%BF-%D0%B4%D0%BE-%D0%9F%D1%80%D0%B0%D0%B2%D0%B4%D0%B8/699190593466761', :class=>'fbtw' %>
<%= link_to image_tag('/alavetelitheme/images/tw.png'), frontpage_url, :class=>'fbtw' %>
</div>
</div>
