<nav id="upravda" class="wrapper">

    <ul class="rozdily up">
        <li><%= link_to _("ПОЛІТИКА"), "http://www.pravda.com.ua/" %></li>
        <li><%= link_to _("ЕКОНОМІКА"), "http://www.epravda.com.ua/" %></li>
        <li><%= link_to _("ЄВРОПА"), "http://www.eurointegration.com.ua/" %></li>
        <li><%= link_to _("ФОРУМ"), "http://forum.pravda.com.ua/" %></li>
        <li><%= link_to _("БЛОГИ"), "http://blogs.pravda.com.ua/" %></li>
        <li style="width:15%"><%= link_to _("ІСТОРИЧНА ПРАВДА"), "http://www.istpravda.com.ua/" %></li>
         <li><%= link_to _("ЖИТТЯ"), "http://life.pravda.com.ua/" %></li>  
         <li><%= link_to _("СПОРТ"), "http://www.champion.com.ua/" %></li>
         <li><%= link_to _("КИЇВ"), "http://kiev.pravda.com.ua/" %></li>
         <li ><%= link_to _("ТАБЛОID"), "http://tabloid.pravda.com.ua/" %></li>
         <li><span>ДОСТУП</span></li>
    </ul>
</nav>
