<div class="choice-title">ВИБІР РЕДАКЦІЇ</div>
<div class="ed-choice">

	<%= render :partial => 'general/vybir_red' %>
</div>
<div class="how-to-title">
	ЯК НАДІСЛАТИ ЗАПИТ
</div>
<div class="how-to-steps">
	<%= image_tag("13-layers.png")%>
	<section class="count1"><%= link_to PublicBody.visible.count.to_s, list_public_bodies_default_path, class: "fp-count" %> <br />розпорядників </section>
    <section class="count2"><%= link_to InfoRequest.visible.count.to_s, request_list_all_path, class: "fp-count" %> <br />запитів </section>
	<%= link_to "Запитати #{image_tag('arr.png')}".html_safe, list_public_bodies_default_path, :class=>"orange-button" %>
	<div style="width:640px; height: 65px; background-color:#d8d8d8; margin-top:7px"></div>
</div>

<div style="clear: both">
	<section class="pubs"><p class="part-title">ПУБЛІКАЦІЇ</p>
	<div id="masonry-container" class="rtl">	
<% @publications.each do |pub| %>
<div class="mbox" style="width:49%">
  <% if pub.image %>
    <%= link_to (image_tag pub.image_url.to_s, size: "300x185"), publication_path(pub) %>
  <% end %>
  <h4 class="pub-title-index"><%= link_to pub.title, publication_path(pub) %></h4>
  <p class="pub-date"><%= UnicodeUtils.upcase(l pub.created_at, :format => '%e %B %Y %H:%M') %></p>
  </div>
<% end %>

</div>
<div style="text-align:center"><%= link_to "ВСІ ПУБЛІКАЦІЇ", publications_path, class: "read-more-top", style: "padding-left:50px;padding-right:50px" %></div>
</section>
	<section class="righties">
		<%= render :partial => 'general/top_zapyty' %>
		<p class="part-title">FACEBOOK</p>
<div class="fb-page" data-href="https://www.facebook.com/dostupdopravdy" data-height="460" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true" data-show-posts="true"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/dostupdopravdy"><a href="https://www.facebook.com/dostupdopravdy">Доступ до Правди</a></blockquote></div></div>
	</section>
</div>

<script>
$(function(){

  $('#masonry-container').masonry({
    itemSelector: '.mbox',
    isRTL: true
  });

});
</script>