<% @title = @category.name.titlecase %>
<div class="publication-list" id="publication-list">
  <div class="main-part-left pub-index">
	<div id="masonry-container" style="position: relative; margin-bottom: 40px">
      <% @publications.each do |pub| %>
        <div class="sbox">
            <% if pub.image_file_name %>
              <%= link_to (image_tag pub.image.url, size: "310x200"), category_publication_path(pub.category, pub) %>
            <% end %>
            <h4 class="pub-title-index"><%= link_to pub.title, category_publication_path(pub.category, pub) %></h4>
            <p class="pub-date">
  	          <%= (l pub.created_at, :format => '%e %B %Y %H:%M').upcase %>
  	          <% if pub.author %>
  	            <span style="padding-left:5px"><%= pub.author %></span>
  	          <% end %>
  	        </p>
        </div>
      <% end %>
    </div>
    <div style="clear:both"><%= will_paginate @publications, :previous_label => "", :next_label => "" %></div>
  </div>
  <div class="right_column" style="float: right;">
    <div class="here-now sidebar-section">
	    <%= render :partial => 'general/zaraz_na_sajti' %>
    </div>
    <div class="sidebar-section">
	    <h4 class="part-title">Вибір редакції</h4>
      <div class="ed-choice">
        <%= render :partial => 'general/vybir_red' %>
	    </div>
    </div>
  </div>
</div>
<% content_for :javascript do %>
  <script>

    $(document).ready(function() {

      $("#publication-list").imagesLoaded(function(){
    	 $('#masonry-container').masonry({
    							 itemSelector: '.sbox',
    							 percentPosition: true,
    							 isAnimated: true,
                   gutter: 25,
    							 animationOptions: {
    									 duration: 700,
    									 easing:'linear',
    									 queue: false
    							}
    				});
      })

    });
  </script>
<% end %>
