<div id="frontpage_splash">
<div id="left_column">
<span class="ohr">
  <%= _("Реалізуй своє право на доступ до публічної інформації") %>
</span>

<div id="stepwise" style="padding-top:20px">
  <%= image_tag('/alavetelitheme/images/step1.png')%>

</div>
<div style="margin-top:40px">
<h3 class="ohr">Оберіть розпорядника інформації</h3>
  <%= form_tag(list_public_bodies_default_url, :method => "get", :id=>"search_form") do %>
  <div>
  <%= text_field_tag(:public_body_query, params[:public_body_query]) %> 
  <%= submit_tag(_("Search")) %>
  </div>

  <% end %>
</div>
<h3 class="ohr">
  <%= n_('Found {{count}} public authority {{description}}',
        'Found {{count}} public authorities {{description}}',
        @public_bodies.total_entries,
        :count => @public_bodies.total_entries,
        :description => @description) %>
</h3>
<%= render :partial => 'body_listing', :locals => { :public_bodies => @public_bodies } %>

  <%= will_paginate(@public_bodies) %>

    </div>
 <div id="right_column">
      <div id="frontpage_right_to_know">
        <%= render :partial => 'general/frontpage_intro_sentence'  %>
      </div>
      <div id="frontpage_search_box">
      <h3 class="ohr"><%=_('Пошук за алфавітом') %></h3>
    <ul><li>
        <%= render :partial => 'alphabet' %>
    </li>
    </ul>
    <% first_row = true %>
    <% for row in PublicBodyCategories::get().with_headings() %>
        <% if row.instance_of?(Array) %>
            <li>
            <%= link_to_unless (@tag == row[0]), row[1], list_public_bodies_path(:tag => row[0]) %> 
            </li>
        <% else %>
            <% if not first_row %>
                </ul>
            <% else %>
                <% first_row = false %>
            <% end %>
            <h3 class="ohr"><%=h row%></h3>
            <ul>
        <% end %>
    <% end %>
    <% if not first_row %>
	    </ul>
    <% end %>
    <%= render :partial => "list_sidebar_extra" %>
      </div>
</div>
  </div>

