<div class="left_column pb-categories" style="width: 27%; float: left; padding-right:7px">
      <p><strong>За алфавітом</strong></p>
        <%= render :partial => 'alphabet' %>
    <% first_row = true %>
    <% for row in PublicBodyCategory.get().with_headings() %>
        <% if row.instance_of?(Array) %>
            <li>
            <%= link_to_unless (@tag == row[0]), row[1], list_public_bodies_path(:tag => row[0]) %> 
            </li>
        <% else %>
            <% if not first_row %>
                </ul>
            <% else %>
                <% first_row = false %>
            <% end %>
            <p><strong><%=h row%></strong></p>
            <ul class="pb-list">
        <% end %>
    <% end %>
    <% if not first_row %>
	    </ul>
    <% end %>
<p >
  <%= link_to "Ми когось забули? Напишіть нам, якщо хочете додати розпорядника", help_contact_path, :style=>"color:#E15F42; font-weight:500" %>
</p>
</div>


<div class="middle_column" style="float: left; width:42%; padding-left:5px;padding-right:5px">
<p><strong>Оберіть розпорядника інформації</strong></p>
  <%= form_tag(list_public_bodies_default_path, :method => "get", :id=>"pb-search-form") do %>
  <%= text_field_tag(:public_body_query, params[:public_body_query], :id=>"pb-input") %> 
  <%= submit_tag "Пошук", :id=>"pb-submit" %>

  <% end %>

    <% if AlaveteliConfiguration.allow_batch_requests && @user && @user.can_make_batch_requests? %>
      <div id="batch_request_link">
        <p>
          <%= _(' Ви можете зробити <a href="{{url}}">груповий запит</a> до <strong>кількох розпорядників</strong> одночасно.',
                :url => select_authorities_path) %>
        </p>
      </div>
    <% end %>

<p><strong>
  <%= n_('Знайдено розпорядників: {{count}}',
        'Знайдено розпорядників: {{count}}',
        @public_bodies.total_entries,
        :count => @public_bodies.total_entries) %>
</strong></p>
<%= render :partial => 'body_listing', :locals => { :public_bodies => @public_bodies } %>

  <%= will_paginate @public_bodies, :previous_label => t("Попередні"), :next_label => t("Наступні") %>

    </div>
<div column="right_column" style="float: right; width:30%;">
  <div class="steps-sidebar">
  	<%= image_tag("choose-icon.png") %>
  </div>
  <div style="display:table" class="here-now">
	<%= render :partial => 'general/zaraz_na_sajti' %>
</div>
<div class="choice">
	<%= render :partial => 'general/vybir_red' %>
</div>
<div class="toz">
	<%= render :partial => 'general/top_zapyty' %>
</div>
</div>





