<h3>Повідомлення про фінансову допомогу</h3>
<p>Ім'я: <%= @donation.name %></p>
<p>Діяльність: <%= @donation.activity %></p>
<p>Сума: <%= @donation.sum %></p>
<p>Телефон: <%= @donation.phone %></p>
<p>Мейл: <%= @donation.email %></p>
<p>Лінк на соцмережі: <%= @donation.email %></p>
