<% provide(:title, "Допомогти ініціативі") %>
<section class="section">
  <div class="wrapper form" id="donation-form">
    <h2>Підтримати проект</h2>
    <p>Ми будемо дуже вдячні за фінансову підтримку проекту. Звіт про її використання буде публікуватись на сторінці ініціативи у Facebook</p>
    <%= form_for @donation, remote: true, html: { multipart: true } do |f| %>
      <p class="boo">
        <%= f.label "Ім'я та прізвище або назва організації" %>
        <%= f.text_field :name %>
        <span class="text-error"></span>
      </p>
      <p>
        <%= f.label "Сфера діяльності" %>
        <%= f.text_field :activity %>
      </p>
      <p>
        <%= f.label "Сума, яку ви готові надати" %>
        <%= f.text_field :sum %>
      </p>
      <p>
        <%= f.label "Ваш телефон" %>
        <%= f.text_field :phone %>
      </p>
      <p class="boo">
       <%= f.label "Ваша електронна пошта" %>
       <%= f.text_field :email %>
      </p>
      <p>
        <%= f.label "Лінк на соціальні мережі" %>
        <%= f.text_field :link %>
      </p>
      <p style="text-align: center" id='sbm'>
        <%= f.submit "Відправити", class: 'btn btn-sbm' %>
      </p>
      <p id="errors" style="display:none">Форма містить помилки</p>
    <% end %>
  </div>
</section>
<script>
$(document).ready(function(){
  $('#donation-form').on('ajax:error',function(e, xhr, status, error){
    $("#sbm").hide();
    $("#errors").show();
    var errors = $.parseJSON(xhr.responseText);
    $.each(errors, function(field, messages){
      $input = $('[name="donation[' + field + ']"]');
      $input.closest('p.boo').addClass('has-error').find('.text-error').html( messages );
      $input.on("input", clearErrors)
      $input.on("change", clearErrors)
    });

    function clearErrors(){
      $(this).closest('p.boo').removeClass('has-error').find('.text-error').html('');
      $("#sbm").show();
      $("#errors").hide();
    }
  });
});
</script>
