<style>
	#case_title {
		width: 60%
	}

	#new_case p {
		margin: 30px 0;
	}


</style>

<h1>Новий кейс</h1>
<div class="add_article">
<%= form_for @case, :as => :case, :url => admin_cases_path, html: { multipart: true } do |f| %>
<% if @case.errors.any? %>
  <div id="error_explanation">
    <p>
      Такі помилки не дають зберегти публікацію:
    </p>
    <ul>
      <% @case.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<p>
  <%= f.label "Назва" %>
  <%= f.text_field :title %>
</p>
<p>
  <%= f.label "Текст" %>
  <%= f.text_area :body, :rel => "tinymce"   %>
</p>
<p style="margin:20px 0">
 <%= f.label "Зображення (300x185)" %>
  <%= f.file_field :image, style:"line-height: 10px;" %>
</p>
<p style="margin:20px 0"
  <%= f.label "Опубліковано?", style: "display: inline" %>
  <%= f.check_box :published %>
</p>
<p>
  <%= f.submit "Зберегти", class: 'btn btn-success' %>
</p>
<% end %>
</div>
