<%= foi_error_messages_for :user %>

<%= form_for @user, :url => profile_about_me_path do |f| %>
  <div class="form_note">
    <h1><%= _('Edit text about you') %></h1>

    <p>
      <%= _("This will appear on your {{site_name}} profile, to make it " \
            "easier for others to get involved with what you're doing.",
            :site_name => site_name) %>
    </p>
  </div>

  <p>
    <label class="form_label" for="user_about_me">
      <%= _('About you:') %>
    </label>
    <% about_me_opts = { :rows => 5, :cols => 55 } %>
    <% about_me_opts.merge!({ :disabled => 'disabled' }) if @user.suspended? %>
    <%= f.text_area :about_me, about_me_opts %>
    <label class="form_label">
      Стать:
    </label>
    <%= f.radio_button :gender, "male" %>
    <%= f.label :gender_male, "Чоловік" %>
    <%= f.radio_button :gender, "female" %>
    <%= f.label :gender_female, "Жінка" %>
    <%= f.radio_button :gender, "other" %>
    <%= f.label :gender_other, "Інше" %>
  </p>

  <div class="form_button">
    <%= f.submit _('Save') %>
  </div>
<% end %>
