<div class="main-part-left">
<h3 class="pub-title-single"> <%= @publication.title %> </h3>
<p><em><%= l @publication.created_at, :format => '%e %B %Y %H:%M' %></em></p>
<p> <%= raw @publication.body %> </p>
<div style="font-weight:700"><span>Поширити:</span>&nbsp;
    	 <%= link_to (image_tag "tw.png", size:"23x23", style: "vertical-align:middle"), "https://twitter.com/intent/tweet?url="+(publication_url(@publication)), :target => "_blank" %> &nbsp;
         <%= link_to (image_tag "fb.png", size:"23x23", style: "vertical-align:middle"), "http://www.facebook.com/sharer/sharer.php?u="+publication_url(@publication), :target => "_blank" %>
</div>
</div>
<div class="right_column">
	<div class="here-now" style="display:table">
	<%= render :partial => 'general/zaraz_na_sajti' %>
</div>
<div class="choice">
	<%= render :partial => 'general/vybir_red' %>
</div>
<div class="toz">
	<%= render :partial => 'general/top_zapyty' %>
</div>
</div>