<% @title = "Право знати" %>

<%= render :partial => 'sidebar' %>

<div id="left_column_flip">
 <h3 id="introduction">Як працює цей сайт? </h3> 
<p>Сайт «Доступ до Правди» працює як уніфікована платформа для надсилання електронних запитів розпорядникам інформації відповідно до Закону “Про доступ до публічної інформації”. 
Необхідно зробити лише чотири прості кроки, щоб отримати інформацію:</p>
<p>1. Зайти на сайт «Доступ до Правди».</p>
<p>2. Обрати з переліку розпорядника інформації, який, на вашу думку, повинен володіти потрібною вам інформацією.</p>
<p>3. Сформулювати текст запиту за формою на сайті.</p>
<p>4. Перевірити свою електронну або поштову скриньку.</p>
<p>Важливо пам’ятати, що ваш запит та відповідь на нього є публічними і автоматично оприлюднюються на сайті. 
Це важливо для наступного узагальнення відповідей, для того, щоб інші особи могли ознайомитися з наданими відповідями.</p>
<p>Вказані вами прізвище та ім’я будуть оприлюднені на сайті. Ваша електронна адреса, поштова адреса та номер телефону не оприлюднюються, крім випадку, якщо розпорядник інформації включить її у вкладений файл. Ми попереджаємо розпорядників про недопустимість включення
у відповідь будь-яких персональних даних. За бажанням ви можете не вказувати жодних додаткових даних про себе, але в такому випадку імовірність отримати відповідь знижується.</p>
<p>УВАГА: Якщо в тексті запиту ви повідомите будь-яку додаткову персональну інформацію (поштова адреса, номер телефону чи факсу тощо), то вона буде автоматично оприлюднена на сайті. Електронні адреси вилучаються з тексту автоматично.</p>

<h3 id="difference">Яка різниця між запитом на інформацію та зверненням громадянина? <%= link_to image_tag("/alavetelitheme/images/arrow_up.png"),"#top" %></h3>
<p>Перед тим як використати сайт «Доступ до Правди», вам слід визначитися, чи є ваше прохання запитом на інформацію або зверненням.</p>
<p>Запит на інформацію – це прохання особи до розпорядника інформації надати публічну інформацію, що знаходиться в його володінні 
(наприклад, інформація щодо використання бюджетних коштів або копія рішення сесії міської ради). 
Тобто йдеться про вже існуючу (раніше створену) інформацію, якою володіє розпорядник. 
Для відповіді на інформаційний запит розпорядник не повинен створювати нову інформацію (готувати аналітику, надавати роз’яснення тощо).</p>
<p>Звернення громадянина - це викладені в письмовій або усній формі пропозиції (зауваження), заяви (клопотання) і скарги. Звернення регулюються спеціальним Законом України «Про звернення громадян».</p>
<p>Сайт «Доступ до Правди» є платформою для надсилання саме запитів на інформацію, оскільки Закон «Про звернення громадян» не дозволяє надсилати звернення в електронній формі.</p>

<h3 id="public_info">Що є публічною інформацією? <%= link_to image_tag("/alavetelitheme/images/arrow_up.png"),"#top" %></h3> 
<p> Публічна інформація - це відображена та задокументована будь-якими засобами та на будь-яких носіях інформація, що була отримана 
або створена в процесі виконання суб'єктами владних повноважень своїх обов'язків, передбачених чинним законодавством, 
або яка знаходиться у володінні суб'єктів владних повноважень, інших розпорядників публічної інформації, визначених Законом 
"Про доступ до публічної інформації".</p>

<h3 id="right_to_access">Хто має право доступу до публічної інформації? <%= link_to image_tag("/alavetelitheme/images/arrow_up.png"),"#top" %></h3>
<p>Право на доступ до публічної інформації, відповідно до Закону, мають:</p>
<p>- фізичні особи (громадяни України, іноземці, особи без громадянства)</p>
<p>- громадські об’єднання без статусу юридичної особи </p>
<p>- юридичні особи.</p>

<h3 id="bodies_info">Хто є розпорядниками публічної інформації? <%= link_to image_tag("/alavetelitheme/images/arrow_up.png"),"#top" %></h3>
<table border="1">
<tr>
  <td><strong>Розпорядники інформації</strong></td>
  <td><strong>Інформація, яку вони зобов’язані надавати</strong></td>
</tr>
<tr>
  <td>Суб’єкти владних повноважень (державні органи, органи місцевого самоврядування, але не окремі посадові чи службові особи)</td>
  <td>Будь-яка публічна інформація, що не віднесена відповідно до закону до інформації з обмеженим доступом, і яка знаходиться у їхньому володінні</td>
</tr>
<tr>
  <td>Юридичні особи, що фінансуються з державного, місцевих бюджетів, бюджету АРК</td>
  <td>Інформація щодо використання бюджетних коштів</td>
</tr>
<tr>
  <td>Особи, якщо вони виконують делеговані повноваження суб’єктів владних повноважень згідно з законом чи договором</td>
  <td>Інформація, пов’язана з виконанням їхніх обов’язків</td>
</tr>
<tr>
  <td>Суб’єкти господарювання, які займають домінуюче становище на ринку або наділені спеціальними чи виключними правами, або є природними монополіями</td>
  <td>Інформація щодо умов постачання товарів, послуг та цін на них</td>
</tr>
<tr>
  <td>Суб’єкти господарювання, які володіють:<br/>
а) інформацією про стан довкілля, б) інформацією про якість харчових продуктів і предметів побуту, в) інформацією про аварії, катастрофи, небезпечні природні явища та інші надзвичайні події, що сталися або можуть статися і загрожують здоров’ю та безпеці громадян, 
г) іншою інформацією, що становить суспільний інтерес.</td>
  <td>Інформація, вказана у підпунктах “а – г”.</td>
</table>

<h3 id="how_info">Як оформити запит на інформацію? <%= link_to image_tag("/alavetelitheme/images/arrow_up.png"),"#top" %></h3>
<p>Електронний запит на отримання інформації подається у довільній формі. При цьому обов’язково необхідно вказати:</p>
<p>1) прізвище і ім′я запитувача для фізичної особи (найменування – для юридичної особи), поштову адресу або адресу електронної пошти, а також номер телефону, якщо такий є. При цьому слід врахувати, що Закон не вимагає будь-якого підтвердження справжності вказаних прізвища та імені;</p>
<p>2) загальний опис інформації, яку запитувач хотів би отримати (вид, назву, реквізити чи зміст документа, щодо якого зроблено запит). Якщо вам відома назва чи інші реквізити конкретного документа, який ви запитуєте, то вкажіть їх; якщо ні – то наведіть якомога точніший опис інформації, яка вам потрібна.</p>

<h3 id="pay_info">Чи необхідно платити за надання інформації? <%= link_to image_tag("/alavetelitheme/images/arrow_up.png"),"#top" %></h3>
<p>Інформація на запит надається безкоштовно.</p>
<p>У разі якщо задоволення запиту на інформацію передбачає виготовлення копій документів обсягом більш як 10 сторінок, 
запитувач зобов'язаний відшкодувати фактичні витрати на копіювання та друк.</p>
<p>Розмір фактичних витрат визначається відповідним розпорядником на копіювання та друк в межах граничних норм, 
встановлених Кабінетом Міністрів України. У разі якщо розпорядник інформації не встановив розміру плати за копіювання або друк, 
інформація надається безкоштовно.</p>
<p>При наданні особі інформації про себе та інформації, що становить суспільний інтерес, плата за копіювання та друк не стягується.</p>

<h3 id="time_info">Cтрок розгляду запитів на інформацію <%= link_to image_tag("/alavetelitheme/images/arrow_up.png"),"#top" %></h3>
<p>Розпорядник інформації має надати відповідь на запит на інформацію не пізніше п'яти робочих днів з дня отримання запиту.</p>
<p>У разі якщо запит на інформацію стосується інформації, необхідної для захисту життя чи свободи особи, щодо стану довкілля, якості харчових продуктів і предметів побуту, аварій, катастроф, небезпечних природних явищ та інших надзвичайних подій, що сталися або можуть статись і загрожують безпеці громадян, відповідь має бути надана не пізніше 48 годин з дня отримання запиту.</p>
<p>Клопотання про термінове опрацювання запиту має бути обґрунтованим.</p>
<p>У разі якщо запит стосується надання великого обсягу інформації або потребує пошуку інформації серед значної кількості даних, розпорядник інформації може продовжити строк розгляду запиту до 20 робочих днів з обґрунтуванням такого продовження. Про продовження строку розпорядник інформації повідомляє запитувача в письмовій формі не пізніше п'яти робочих днів з дня отримання запиту.</p>

<h3 id="restriction">До якої інформації може бути обмежено доступ? <%= link_to image_tag("/alavetelitheme/images/arrow_up.png"),"#top" %></h3>
<p>Інформацією з обмеженим доступом є: 
<ul>
<li>- конфіденційна інформація про фізичну або юридичну особу;</li>
<li>- таємна інформація (державна, адвокатська, лікарська, нотаріальна та інші види таємниць);</li>
<li>- службова інформація.</li>
</ul>
</p>
<p><strong>Обмеження доступу до інформації здійснюється лише при дотриманні трьох вимог:</strong></p>
<p>1. Якщо обмеження відповідає одному з таких інтересів:<br>
<ul>
<li>- в інтересах національної безпеки, територіальної цілісності або громадського порядку з метою запобігання заворушенням чи злочинам;</li>
<li>- для охорони здоров’я населення;</li>
<li>- для захисту репутації або прав інших людей; </li>
<li>- для запобігання розголошенню інформації, одержаної конфіденційно, або
для підтримання авторитету і неупередженості правосуддя.</li>
</ul></p>
<p>2. Якщо розголошення інформації може завдати істотної шкоди цим інтересам.</p>
<p>3. Якщо шкода від оприлюднення такої інформації переважає суспільний інтерес в її отриманні.</p>
<p>Якщо розпорядник відмовляє в наданні інформації у зв’язку з обмеженням доступу до неї, він може це зробити, 
лише обґрунтувавши це відповідно до трьох зазначених вимог.</p>
<h3 id="liability">Відповідальність за ненадання інформації <%= link_to image_tag("/alavetelitheme/images/arrow_up.png"),"#top" %></h3>
<p>Право на доступ до публічної інформації гарантується юридичною відповідальністю за порушення законодавства про доступ до публічної інформації. 
Рішення, дії чи бездіяльність розпорядників інформації можуть бути оскаржені до керівника розпорядника, вищого органу або суду. 
За порушення Закону “Про доступ до публічної інформації” передбачено адміністративну відповідальність. Із скаргами на такі порушення слід звертатися до прокурорів.</p>
<h3 id="legal_info">Законодавство в сфері доступу до публічної інформації <%= link_to image_tag("/alavetelitheme/images/arrow_up.png"),"#top" %></h3>
<p><a href="http://zakon2.rada.gov.ua/laws/show/%D0%BF%D1%80%D0%BE%20%D1%96%D0%BD%D1%84%D0%BE%D1%80%D0%BC%D0%B0%D1%86%D1%96%D1%8E">Закон України «Про Інформацію»»</a></p>
<p><a href="http://zakon2.rada.gov.ua/laws/show/2939-17">Закон України «Про доступ до публічної інформації»</a></p>
<p><a href="http://pdp.org.ua/materials-pdp/2685-api-comment">Науково-практичний коментар до Закону України «Про доступ до публічної інформації»</a></p>
<p><a href="http://www.president.gov.ua/documents/13541.html">Указ Президента України «Питання забезпечення органами виконавчої влади доступу до публічної інформації»»</a></p>
<p><a href="http://zakon2.rada.gov.ua/laws/show/548/2011">Указ Президента України «Про першочергові заходи щодо забезпечення доступу до публічної інформації в допоміжних органах, створених Президентом України»</a></p>
<p><a href="http://zakon.rada.gov.ua/go/740-2011-%D0%BF">Постанова КМУ «Про затвердження граничних норм витрат на копіювання або друк документів, що надаються за запитом на інформацію»</a></p>
<p><a href="http://zakon2.rada.gov.ua/laws/show/583-2011-%D0%BF">Питання виконання Закону України "Про доступ до публічної інформації" в Секретаріаті Кабінету Міністрів України, центральних та місцевих органах виконавчої влади»</a></p>
</div>
