<% @title = "Зворотній зв’язок" %>

<%= foi_error_messages_for :contact %>


<div id="econtact_preamble">

<p>Ознайомтесь з інформацією, яку містить розділ <%= link_to "Як це працює", help_about_path %></p>
<p>Якщо ви не знайшли відповідь на своє запитання, звертайтесь, заповнивши форму нижче:</p>
</div>
<div id="contact-form">
<%= form_for :contact do |f| %>

    <% if not @user %>
        <p>
            <label class="form_label" for="contact_name">Ваше ім’я:</label>
            <%= f.text_field :name, :size => 20 %>
            (або <%= link_to "авторизуйтесь", signin_path(:r => request.fullpath) %>)
        </p>

        <p>
            <label class="form_label" for="contact_email">Ваш мейл:</label>
            <%= f.text_field :email, :size => 20 %>
        </p>
    <% end %>

    <p>
        <label class="form_label" for="contact_subject">Тема:</label>
        <%= f.text_field :subject, :size => 50 %>
    </p>

    <p>
        <label class="form_label" for="contact_message">Текст повідомлення:</label>
        <%= f.text_area :message, :rows => 10, :cols => 60 %>
    </p>

    <p style="display:none;">
        <%= f.label :comment, 'Do not fill in this field' %>
        <%= f.text_field :comment %>
    </p>


    <p class="form_note">
    Ми можемо допомогти вам лише з <strong>технічних питань</strong> або питань щодо свободи інформації. Ми не маємо ніякого відношення до органів державної влади, тож якщо у вас є питання до них, скористайтесь формою для надсилання запитів. 
    </P>


    <div class="form_button">
        <%= hidden_field_tag(:submitted_contact_form, 1) %>
        <%= submit_tag "Надіслати повідомлення" %>
        
    </div>

<% end %>

</div>
