<% provide(:title, "Заявка на компенсацію") %>
<section class="section">
  <div class="wrapper form" id="violation-form">
    <h2>Заявка на компенсацію</h2>
    <% if @violation.errors.any? %>
    <p class="text-error form-has-errors"><strong>Форма містить помилки</strong></p>
    <% end %>
    <%= form_for @violation, html: { multipart: true } do |f| %>
      <%= form_group_for f, :name  do %>
        <%= f.label "Ім'я та прізвище", class: "required" %>
        <%= f.text_field :name, class: 'form-control' %>
      <% end %>
      <p>
        <%= f.label "Організація" %>
        <%= f.text_field :organization %>
      </p>
      <%= form_group_for f, :description  do %>
        <%= f.label "Як саме порушено ваше право на інформацію?", class: "required" %>
        <%= f.text_area :description, class: 'form-control' %>
      <% end %>
      </p>
      <p><strong>Підвантажте запит і відповідь або дайте посилання, якщо ви робили запит через Доступ до правди:</strong></p>
      <p>
       <%= f.label "Підвантажити запит (допускається формат jpg, pdf, png, doc, docx)" %>
        <%= f.file_field :req %>
      </p>
      <p>
        <%= f.label "Підвантажити відповідь (допускається формат jpg, pdf, png, doc, docx)" %>
        <%= f.file_field :resp %>
      </p>
      <p>
        <%= f.label 'Посилання на запит' %>
        <%= f.text_field :rlink %>
      </p>
      <p>
        <%= f.label "Ваш телефон" %>
        <%= f.text_field :phone %>
      </p>
      <%= form_group_for f, :email  do %>
        <div class="input-group">
          <%= f.label "Ваша електронна пошта", class: "required" %>
          <%= f.text_field :email, class: 'form-control' %>
      </div>
<% end %>
      <p>
        <%= f.label "Лінк на соціальні мережі" %>
        <%= f.text_field :link %>
      </p>
      <p style="text-align: center" id='sbm'>
        <%= f.submit "Відправити", class: 'btn btn-sbm' %>
      </p>
      <p id="errors" style="display:none">Форма містить помилки</p>
    <% end %>
  </div>
</section>
<script>
  $(document).ready(function(){
    $(".has-error .form-control").on("input", clearErrors)

    function clearErrors(){
      $(this).closest('.form-group').removeClass('has-error').find('.text-error').html('');
      if ($(".has-error .form-control").length === 0){
        $(".form-has-errors").hide()
      }
    }
  });
</script>
