<h1>Публікації</h1>

<a class="btn btn-primary" href="/admin/publications/new">Додати публікацію</a>

<ul class="types" style="margin-top:20px; margin-left: 0">
	<li id="stories"><%= link_to 'Історії', url_for(params.permit(:category_id).merge(:category_id => 2))  %> </li>
	<li id="news" class="bordered"><%= link_to 'Новини', url_for(params.permit(:category_id).merge(:category_id => 1))  %> </li>
	<li id="videos" class="bordered"><%= link_to 'Відео', url_for(params.permit(:category_id).merge(:category_id => 3))  %></li>
	<li id="digest" class="bordered"><%= link_to 'Дайджест', url_for(params.permit(:category_id).merge(:category_id => 4))  %></li>
	<li id="blogs" class="bordered"><%= link_to 'Блог', url_for(params.permit(:category_id).merge(:category_id => 5))  %></li>
	<li id="blogs" style="margin-left:20px; margin-right: -7px"><%= link_to 'Чернетки', url_for(params.permit(:published).merge(:published => "false"))  %></li>
        <li id="blogs" class="bordered" style="margin-left:10px"><%= link_to 'Всі', url_for(params.permit(:published).merge(:published => nil))  %></li>
	<li style="margin-left:40px">
      		<%= form_tag({}, :method => "get", :class => "form form-search") do %>
        	      	<%= text_field_tag 'query', params[:query], { :size => 30, :class => "input-large search-query"} %>
              		<%= submit_tag "Пошук за назвою", :class => "btn" %>
      		<% end %>
	</li>
</ul>

<table class="all-publications" style="clear:both">
<p style="clear:both">
	<%= will_paginate @publications %>
</p>

<% @publications.each do |p| %>
	<tr>
	<td> <%= link_to p.title, admin_publication_path(p.id) %> </td>
	<td><%= p.published ? "Опубл." : "Драфт" %></td>
	<td><%= link_to ("<i class='fa fa-pencil-square-o fa-lg'></i>").html_safe, edit_admin_publication_path(p.id) %> </td>
	<td><%= link_to ("<i class='fa fa-times fa-lg'></i>").html_safe, admin_publication_path(p),
	              method: :delete,
	              data: { confirm: 'Ви впевнені?' } %>
	</td>
	<td><%= l p.created_at, :format => '%e %B %Y %H:%M' %></td>
	<td><%= p.impressionist_count %></td>
	</tr>
<% end %>
</table>

<style>
	td {
		padding: 5px 7px
	}

	tr {
		border-bottom: 1px solid #ccc;
	}

	ul.types li {
		float: left;
		list-style:none;
		padding:3px 6px;
		font-size:16px;

	}

	.bordered {
		border-left: 1px solid black
	}

	.fa-times {
		color: red
	}
</style>

<script>

</script>
