<div id="list-filter">
  <%= form_tag(request.path, :method => "get", :id=>"filter_requests_form") do %>
 <div class="list-filter-item">
  <%= label_tag(:query, _("Keywords"), :class=>"form_label") %>
  <%= text_field_tag(:query, params[:query], :id=>"req-list-form") %>
 </div>
<% if false %>
 <div class="list-filter-item">
  <%= _("Search for words in:") %> <br/>
  <% [["sent", _("messages from users")],
     ["response", _("messages from authorities")],
     ["comment", _("comments")]].each_with_index do |item, index|
     variety, title = item %>

   <%= check_box_tag "request_variety[]", variety, params[:request_variety].nil? ? true : params[:request_variety].include?(variety), :id => "request_variety_#{index}" %>
   <%= label_tag("request_variety_#{index}", title) %> <br/>
  <% end %>
 </div>
<% end %>
 <div class="list-filter-item">
   <%= label_tag(:query, _("Made between"), :class=>"form_label", style: "margin-right:15px") %>
   <%= text_field_tag(:request_date_after, params[:request_date_after], {:class => "use-datepicker", :id => "ud1"}) %>&nbsp;&nbsp;
   <%= label_tag(:query, _("and"), :class=>"form_label") %>
   <%= text_field_tag(:request_date_before, params[:request_date_before], {:class => "use-datepicker", :id => "ud2"}) %>
 </div>
 <div class="list-filter-item">
     <div class="filter-request-types">
       <% statuses = [["all", _("all requests")],
                         ["successful", _("успішні")],
                         ["unsuccessful", _("невдалі")],
                         ["awaiting", _("без відповіді")]] %>
        <ul style="margin-bottom: 20px">
         <% statuses.each do |status, label| %>
           <li>
             <% if params[:view] != status %>
               <% if controller?("public_body") %>
                 <%= link_to label, url_for(:controller => "public_body", :action => "show", :view => status, :url_name => @public_body.url_name) + "?" + request.query_string + '#results' %>
               <% else %>
                 <%= link_to label, url_for(:controller => "request", :action => "list", :view => status) + "?" + request.query_string + '#results' %>
               <% end %>
             <% else %>
               <span><%= label %></span>
             <% end %>
           </li>
         <% end %>
       </ul>
      <p><%= submit_tag(_("Search")) %></p>
    </div>
 </div>
<% end %>
</div>
<%= render :partial => 'general/localised_datepicker'  %>
