<div id="right_column" class="sidebar right_column" role="complementary">

  <% if (feature_enabled?(:alaveteli_pro) &&
         can?(:create_embargo, info_request)) %>
    <%= render partial: 'alaveteli_pro/info_requests/embargo_form',
               locals: { info_request: info_request } %>
  <% end %>

  <% if info_request.attention_requested %>
    <%= render partial: 'request/attention_requested',
               locals: { info_request: info_request } %>
  <% end %>

  <%= render partial: 'request/batch',
             locals: { info_request: info_request } %>

  <%= render :partial => 'general/zaraz_na_sajti' %>

  <% if similar_requests.any? %>
    <%= render partial: 'request/similar',
               locals: { info_request: info_request,
                         similar_requests: similar_requests,
                         similar_more: similar_more } %>
  <% end %>

</div>
