<div class="main-part-left">
	
<div>
  <%= render :partial => 'request/request_filter_form' %>
</div>

<div class="results_section">
    <%= render :partial => 'list_results' %>
</div>
</div>
<div column="right_column" style="float: right; width:30%;">

  <div style="display:table" class="here-now">
	<%= render :partial => 'general/zaraz_na_sajti' %>
</div>
<div class="choice">
	<%= render :partial => 'general/vybir_red' %>
</div>
<div class="toz">
	<%= render :partial => 'general/top_zapyty' %>
</div>
</div>
