<div id="frontpage_splash">
<div id="left_column">
<span class="ohr">
  <%= _("Реалізуй своє право на доступ до публічної інформації") %>
</span>

<div id="stepwise" style="padding-top:20px">
  <%= image_tag('step4.png')%>

</div>
<div style="margin-top:40px">
  <h3 class="ohr"><%=@title%></h3>
  <%= render :partial => 'request/request_filter_form' %>
</div>

<div class="results_section">
  <% if key = request_list_cache_key %>
    <% cache_if_caching_fragments(key, :expires_in => 5.minutes) do %>
    <%= render :partial => 'list_results' %>
    <% end %>

  <%= will_paginate WillPaginate::Collection.new(@page, @per_page, @show_no_more_than) %>

</div>
</div>
 <div id="right_column">
      <div id="frontpage_right_to_know">
        <%= render :partial => 'general/frontpage_intro_sentence'  %>
      </div>
      
</div>
