<script type="text/javascript" src="/javascripts/ba-throttle-debounce.js"></script>
<script type="text/javascript">
    $(document).ready(function(){
        // Avoid triggering too often (on each keystroke) by using the debounce jQuery plugin:
        // http://benalman.com/projects/jquery-throttle-debounce-plugin/
        $("#typeahead_search").keypress($.debounce( 300, function() {
            $("#typeahead_response").load("<%=search_ahead_url%>?q="+encodeURI(this.value), function() {
                // When following links in typeahead results, open new tab/window
                $("#typeahead_response a").attr("target","_blank");

                // Update the public body site search link
                $("#body-site-search-link").attr("href", "http://www.google.com/#q="+encodeURI($("#typeahead_search").val())+
                                                "+site:<%= @info_request.public_body.calculated_home_page %>");
            });
        }));

    });
</script>

<% @title = _("Make an {{law_used_short}} request to '{{public_body_name}}'",:law_used_short=>h(@info_request.law_used_short),:public_body_name=>h(@info_request.public_body.name))  %>
<body id = "bluebodies">
<div style="margin-top:20px;">
<ul class="steps-in">
    <li><%= image_tag "/alavetelitheme/images/questbutton.png", :class=>'pic' %>  
    <li><p class = "small"><i><strong>ОПИШІТЬ</strong><br/>інформацію<br/>чи документ,<br/>який хочете<br/>отримати</i></p>
    <li><%= image_tag "/alavetelitheme/images/red2.png" %>
    <li class="blu">Загальний опис інформації або вид, назва, реквізити чи зміст документа, щодо якого зроблено запит

</ul>
</div>

<div style="position:absolute; margin-top:140px;">

    <% if @existing_request %>
      <div class="errorExplanation" id="errorExplanation"><ul>
      <li>
       <%= _('{{existing_request_user}} already
      created the same request on {{date}}. You can either view the <a href="{{existing_request}}">existing request</a>,
      or edit the details below to make a new but similar request.',:existing_request_user=>user_or_you_capital_link(@existing_request.user), :date=>simple_date(@existing_request.created_at), :existing_request=>request_path(@existing_request)) %>
      </li>
      </ul></div>
    <% end %>

    <%= foi_error_messages_for :info_request, :outgoing_message %>

    <%= form_for(@info_request, :url => new_request_path, :html => { :id => 'write_form' }  ) do |f| %>

    <div id="request_header">
        <div id="request_header_body">
            <label class="form_label"><%= _('Розпорядник:') %></label>
            <span id="to_public_body"><%=h(@info_request.public_body.name)%></span>
            <div class="form_item_note">
                <% if @info_request.public_body.info_requests.size > 0 %>
                    <%= _("Browse <a href='{{url}}'>other requests</a> to '{{public_body_name}}' for examples of how to word your request.", :public_body_name=>h(@info_request.public_body.name), :url=>public_body_path(@info_request.public_body)) %>
                <% else %>
                    <%= _("Browse <a href='{{url}}'>other requests</a> for examples of how to word your request.", :url=>request_list_url) %>
                <% end %>
            </div>

            <% if @info_request.public_body.has_notes? %>
              <div id="request_header_text">
                <h3><%= _('Special note for this authority!') %></h3>
                <p><%= @info_request.public_body.notes_as_html.html_safe %></p>
              </div>
            <% end %>

        </div>

        <div id="request_header_subject">
            <p>
                <label class="form_label" for="typeahead_search"><%= _('Summary:') %></label>
                <%= f.text_field :title, :size => 50, :id =>"typeahead_search" %>
            </p>
            <div class="form_item_note">
                (<%= _("a one line summary of the information you are requesting, \n\t\t\te.g.") %>
                  <%= render :partial => "summary_suggestion" %>)
            </div>
        </div>

        <div id="typeahead_response">
        </div>
    </div>

    <div id="request_form">
        <%= fields_for :outgoing_message do |o| %>
        <p>
            <label class="form_label" for="outgoing_message_body"><%= _('Your request:') %></label>
            <%= o.text_area :body, :rows => 15, :cols => 65 %>
        </p>
        <% end %>

<% if !@user %>
            <p class="form_note">
                <%= _("Зазначені вами ім'я та прізвище повідомляються розпоряднику інформації, до якого ви адресуєте свій запит, а також оприлюднюються на сайті. Так само автоматично оприлюднюється повний текст вашого запиту і повний текст відповіді на нього.<br/>
                Адреса вашої електронної пошти не повідомляється розпоряднику інформації та не оприлюднюється на сайті (розпорядник отримує електронний лист з адреси сайту).<br/>
УВАГА: Якщо в тексті запиту ви повідомите будь-яку додаткову персональну інформацію (поштова адреса, номер телефону чи факсу тощо), 
то вона буде автоматично оприлюднена на сайті. Електронні адреси вилучаються з тексту автоматично.") %>
            </p>
        <% else %>
            <p class="form_note">
                <%= _("Зазначені вами ім'я та прізвище повідомляються розпоряднику інформації, до якого ви адресуєте свій запит, а також оприлюднюються на сайті. Так само автоматично оприлюднюється повний текст вашого запиту і повний текст відповіді на нього.<br/>
                Адреса вашої електронної пошти не повідомляється розпоряднику інформації та не оприлюднюється на сайті (розпорядник отримує електронний лист з адреси сайту).<br/>
УВАГА: Якщо в тексті запиту ви повідомите будь-яку додаткову персональну інформацію (поштова адреса, номер телефону чи факсу тощо), 
то вона буде автоматично оприлюднена на сайті. Електронні адреси вилучаються з тексту автоматично.") %>
            </p>
        <% end %>


        <div class="form_button">
            <%= f.hidden_field(:public_body_id, { :value => @info_request.public_body_id } ) %>
            <%= f.hidden_field(:user_id, { :value => @user.id } ) %>
            <%= hidden_field_tag(:submitted_new_request, 1 ) %>
            <%= hidden_field_tag(:preview, 1 ) %>
            <%= submit_tag _("Preview your public request") %>
        </div>

        <% if !@info_request.tag_string.empty? %>
            <p class="form_note">
                <!-- <label class="form_label" for="info_request_tag_string"><%= _("Tags (separated by a space):") %></label>
                <%= f.text_field :tag_string, :size => 50 %> -->

                <%= f.hidden_field(:tag_string) %>
                <strong>Tags:</strong> <%=h @info_request.tag_string %>
            </p>
        <% end %>

        </div>
<% end %>
</div>
</body>
